# Dependencies
/node_modules
*/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
*/build
*/dist

# Smart Contract artifacts
/artifacts
/cache
/typechain
/typechain-types

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IPFS
.ipfs

# Seed One specific
/seed-one/build
/seed-one/node_modules

# Misc
.DS_Store
thumbs.db
# Wylloh Player specific
/wylloh-player/build*/
/wylloh-player/kodi-build*/
/wylloh-player/xbmc-build*/
/wylloh-player/Debug/
/wylloh-player/Release/
/wylloh-player/RelWithDebInfo/
/wylloh-player/MinSizeRel/
/wylloh-player/__pycache__/
/wylloh-player/CMakeCache.txt
/wylloh-player/CMakeFiles/
/wylloh-player/cmake_install.cmake
/wylloh-player/Makefile
/wylloh-player/kodi.log
/wylloh-player/kodi.old.log
/wylloh-player/wylloh-player.log
/wylloh-player/wylloh-player.old.log
/wylloh-player/system/players/VideoPlayer/*
/wylloh-player/addons/packages/
/wylloh-player/addons/skin.*/media/*.xbt
/wylloh-player/userdata/Database/
/wylloh-player/userdata/playlists/
/wylloh-player/userdata/Thumbnails/
/wylloh-player/userdata/cache/
/wylloh-player/tools/depends/**/config.cache
/wylloh-player/tools/depends/**/config.log
/wylloh-player/tools/depends/**/config.status
/wylloh-player/downloads/
/wylloh-player/wylloh-config/
/wylloh-player/wylloh-wallet/
/wylloh-player/.wallet_cache/
/wylloh-player/.wallet_connection.json
