{
  "providerUrl": "http://${MACBOOK_IP}:8545",
  "ipfsGateway": "http://${MACBOOK_IP}:8080",
  "contractAddress": "0x5FbDB2315678afecb367f032d93F642f64180aa3",
  "tokenFactoryAddress": "0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512",
  "demoMode": true,
  "logLevel": "info",
  "mediaPath": "/var/lib/wylloh/media",
  "metadataPath": "/var/lib/wylloh/metadata",
  "kodiEnabled": true
} 